
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

title {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  display: inline;
}

.span {
  color: limegreen;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

/* start header */
header {
  background-color: rgb(104, 103, 103, 0.65);
  padding: 35px;
  position: sticky;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  display: inline;
  color: purple;
}

header nav {
  float: right;
}

header a {
  text-decoration: none;
}

header nav ul li {
  display: inline;
  padding: 20px;
  font-size: 30px;
}


.span {
  color: limegreen;
}

header nav a {
  color: black;
}
header nav a:hover {
  background-color: rgb(128, 0, 128, 0.15);
  border-radius: 25%;
  color: limegreen;
}

/* start footer */
footer {
  background-color: rgb(104, 103, 103);
  padding: 20px;
  
}

footer h2 {
  display: inline;
}

.contact-info {
  text-align: center;
  
}

.contact-info ul {
  list-style: none;
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.sincerely {
  float: right;
}

.contact-info a{
 color: black
}

.contact-info a:hover {
  color: limegreen;
  background-color: rgb(128, 0, 128, 0.15)
}


/* end footer */

/* HERO */
.hero {
  background-image: url(//public/shutterstock_671483350.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
}

/* PORTFOLIO */
.portfolio {
  background-color: rgb(104, 103, 103, 0.85);
  flex: 1 80%;
  text-align: center;
  padding: 20px;
  padding-bottom: 135px;
}

.portfolio h1 {
  text-align: center;
  padding: 50px;
}

.application {
  text-align: center;
  position: relative;
}

.portfolio h2 {
  text-align: center;
  padding: 20px;
}

.portfolio a Image {
  border-radius: 28%;
  position: static;
  margin-right: 125px;
  box-shadow: 0 0 10px 5px white;
}

.portfolio a {
  display: inline;
  position: relative;
  margin: 20px;
  padding: 20px;
}

.portfolio a img:hover {
  background-color: rgb(50, 205, 50, 0.45);
}

.title {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  display: inline;
}

img {
  height: 300px;
  width: 550px;
  padding: 15px;
  border-radius: 50px;
}

.flexbox {
  display:flex;
}
/* MEDIA QUERIES */

/* Phones */
@media screen and (max-width: 980px) {
  .contact-info {
    width: 100%;
  }
}


/* BIO */
.biohero {
  background-image: url(../public/dillyillyin.jpg);
  height: 600px;
  background-size: cover;
  background-position: inherit;
  position: relative;
  padding: 20px;
}

/* BIO */
.bio {
  display: inline-flex;
  background-color: rgb(128, 128, 128, 0.5);
}
.bio h2,
.bio p {
  text-align: center;
}

/* Experience */
.experience {
  background-color: rgb(128, 128, 128, 0.5);
  display: flex;
}

.experience h2 {
  text-align: center;
  padding: 20px;
}

.experience h3 {
  text-align: center;
}

.experience a img {
  border-radius: 28%;
  position: static;
  box-shadow: 0 0 10px 5px white;
  
}

.experience a {
  display: inline;
  position: relative;
  margin: 20px;
  padding: 35px;
}

.experience a img:hover {
  background-color: rgb(50, 205, 50, 0.45);
}

/* JOBS */

.jobs {
  background-color: grey;
  float: right;
}

.jobs h2 {
  text-align: center;
}

.jobs h3 {
  text-align: center;
}

.jobs h4 {
  text-align: center;
}

.jobs p {
  text-align: center;
}

.jobs img {
  border-radius: 15%;
}

footer {
  display: inline-flex;
}

.thanks h2 {
  float: right;
  height: 25px;
}

.sincerely {
  margin-bottom: 45px;
}
